<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Single File Prototype</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body id="prototype">
<header>
    <div class="w-full bg-cover bg-center" style="height:10rem; background-image: url(/imperialairlineslogo.jpg);">
        <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
            <div class="text-center">
                <h1 class="text-white text-2xl font-semibold uppercase md:text-3xl">Your imperial experience</h1>

            </div>
        </div>
    </div>
</header>
<div aria-label="group of cards" tabindex="0" class="focus:outline-none py-8 w-full">
    <div class="lg:flex items-center justify-center w-full">
        <div tabindex="0" aria-label="card 1" class="focus:outline-none lg:w-4/12 lg:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded">
            <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
                <img src="passport.avif" alt="scanner" class="w-12 h-12 rounded-full" />
                <div class="flex items-start justify-between w-full">
                    <div class="pl-3 w-full">
                        <p tabindex="0" class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">Scan passport</p>
                    </div>
                </div>
            </div>
            <div class="px-2">
                <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">Self scan your passport on a kiosk.
                </p>
                <h1 v-if="!scanId"><button
                        v-on:click="startScan()"
                        class="btn btn-xs btn-primary">Start scanning
                </button></h1>
                <h1 v-if="scanId"><button
                        v-on:click="stopScan()"
                        class="btn btn-xs btn-primary">Stop scanning
                </button> (scan-id {{scanId}}</h1>
                {{passportName}}
                <div tabindex="0" class="focus:outline-none flex">
                    <div class="py-2 px-4 text-xs leading-3 text-indigo-700 rounded-full bg-indigo-100">#self-service</div>
                    <div class="py-2 px-4 ml-3 text-xs leading-3 text-indigo-700 rounded-full bg-indigo-100">#passport</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                scanId: '',
                passportName: ''
            }
        },
        methods: {
            async startScan() {
                const response = await fetch("/startScan");
                const data = await response.json();
                this.scanId = data.scanId;
            },
            async stopScan() {
                await fetch("/stopScan");
                const response = await fetch("/getPassport");
                const data = await response.json();
                this.passportName = data.passportName;
                this.scanId = '';
            },
            loadData: async function () {
                const response = await fetch("/getPassport");
                const data = await response.json();
                this.passportName = data.passportName;
            }
        }
    })
    app.mount('#prototype')
</script>
